/* Colors: #81A6C6 (Dark Blue) #AACDDC (Light Blue) #F3E3D0 (Light Brown) #D2C4B4 (Dark Beige)  */
/* Shape buttons like life buoys, ship wheels, or anchor symbols. */
/* Include small animated elements like a seagull flying across the screen or a ship sailing when an item is completed. */
/* Design the frame to resemble a ship's porthole, giving a view of the ocean. */
/* Style the display to look like an old ship’s map or a captain’s logbook. Use a parchment texture with aged, maritime-style numbers. */
/* Add compass rose icons or maritime flags around the screen. */
/*  */
/*  */


/* Completed task style */
.completed span {
    text-decoration: line-through;
    color: gray;
}

.completed {
    opacity: 0.6;
}

/* background  */
body {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.028124999999999956) 0%, rgba(253,187,45,1) 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* Different background color for the to-do container */
#todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

/* Styling for header, input box and input button  */
#todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

/* background a different color from the body and adding a border around the container: */
#todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
}


/* inside the container, styling of header, input box and input button */

#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#input-box {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
}

#input-button {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e60ea;
}

#input-button:hover {
    background-color: #9eb7fd;
}

/* Remove the bullet styling from the unordered list. */
/* Add a border to each new item added to the list. */
/* Float the edit and delete button to the right and change the color to crimson. Change hover to cursor pointer. */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align:left;

}

li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

.edit-btn, .delete-btn {
    float: right;
    color:crimson;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;
}

.completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
}
